/bin/
_Executavel/arquivos_fitas_espelho_geradas/*
/arquivos_fitas_espelho_geradas/
!_Executavel/arquivos_fitas_espelho_geradas/file.txt
_Executavel/arquivo_servidores/*
/arquivo_servidores/
!_Executavel/arquivo_servidores/servidores.txt
